.chat-message {
	white-space: normal;
	/* allows wrapping */
	word-break: break-word;
	/* breaks long words */
	overflow-wrap: break-word;
	/* ensures long words wrap in all browsers */
}

.MuiCircularProgress-track {
	stroke: var(--joy-palette-neutral-softBg) !important;
}

#chat-messages::-webkit-scrollbar {
	width: 0;
}